<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" href="icons/favicon.svg">
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
