// app global css in Sass form

@font-face
  font-family: destinyIcons
  src: url('/destiny-icons.woff')

body
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif, destinyIcons

*
  margin: 0
  padding: 0
  box-sizing: border-box

h1
  font-size: 300%
  line-height: 1.5
  font-weight: 400

h2
  font-size: 200%
  line-height: 1.5
  font-weight: 400

h3
  font-size: 100%
  line-height: 1.25
  font-weight: 400

p > a:visited
  color: #61bbf3

.gap
  display: flex
  gap: 1em

  &-sm
    gap: 0.5em

.flex
  display: flex

  &-col
    flex-flow: column